<header>
    <h1>{{title}}</h1>
    <a class="links" href="/">Home</a>
    <a class="links" href="/movies/search">Find movies by title</a>
    <a class="links" href="/movies/data">Find movies by IMDb ID</a>
    <a class="links" href="/posters/">Get movie posters</a>
    <a class="links" href="/posters/add">Upload a poster</a>
    <a class="login-register" href="/user/register">Register</a>
    <a class="login-register" href="/user/login">Login</a>
</header>