<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="introMessage">Please login below.</p>

        <label for="Email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Login</button>

    </div>
    {{>footer}}

    <script src="/js/darkMode.js" defer></script>

</body>

</html>