<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Find posters page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="introMessage">Find a movie poster by IMDBb ID. You can try it with tt0027977</p>
        <form action="/posters" method="GET">
        <input type="text" name="q" value="{{searchTerm}}" placeholder="Search for a poster">
        <button>Search</button>
        </form>
        <div class="results-div">
            {{#if poster}}
                <p class="resultsMessage">Download your poster for {{searchTerm}} below!</p>
                <img src="{{poster}}" alt ="Movie Poster">
            {{/if}}
        </div>
    </div>
    {{>footer}}
</body>
</html>