<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Find posters page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Find a movie poster to download!</p>
        <form action="/posters" method="GET">
        <input type="text" placeholder="Search for a poster">
        <button>Search</button>
        </form>
    </div>
    {{>footer}}
</body>
</html>